.Pose-Swap {
  max-width: 400px;
  position: relative;
  margin: auto;
}

.previous, .next {
  position: absolute;
  top: 80%;
  padding: 15px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.next {
  right: 0;
}
.previous:hover, .next:hover {
  background-color: tomato;
}
