
.wrapper > div{
	background: #eee;
	padding: 1em; 
}	
.wrapper > div:nth-child(odd){
	background: #fff8ba;
}	
.wrapper{
	display: grid;
	grid-template-columns: 70% 30%;
	grid-gap: 1em;
 }

.nested{
	display: grid;
	grid-auto-rows: 100px;
	grid-gap: 1em;
}
.nested > div{
	text-align: center;
	border: black 2px solid;
}
.title{
	display: grid;
	grid-column: 1/3;
	text-align: center;
}

.jesustitle{
	text-align:center;
}
.jesus{
	width:30%;
	margin-left: auto;
  	margin-right: auto;
}
.arrows{
	color: red;
}



.skin{
}
.hair{
}
.eyes{
}
.clothing{
}
.mouth{
	fill:red;
}
.tie{
	fill:red;
}


.purpleButton {
  background-color: purple;
  border: black 3px solid;
  padding: 10px 15px;
  cursor: pointer;
}
.purpleButton:hover {
  background-color: pink;
}
.blueButton {
  background-color: blue;
  border: black 3px solid;
  padding: 10px 15px;
  cursor: pointer;
}
.blueButton:hover {
  background-color: darkblue;
}
.greenButton {
  background-color: green;
  border: black 3px solid;
   padding: 10px 15px;
  cursor: pointer;
}
.greenButton:hover {
  background-color: darkgreen;
}
.yellowButton {
  background-color: yellow;
  border: black 3px solid;
  padding: 10px 15px;
  cursor: pointer;
}
.yellowButton:hover {
  background-color: gold;
}
.orangeButton {
  background-color: orange;
  border: black 3px solid;
  padding: 10px 15px;
  cursor: pointer;
}
.orangeButton:hover {
  background-color: darkorange;
}
.redButton {
  background-color: red;
  border: black 3px solid;
  padding: 10px 15px;
  cursor: pointer;
}
.redButton:hover {
  background-color: darkred;
}
.whiteButton {
  background-color: white;
  border: black 3px solid;
  padding: 10px 15px;
  cursor: pointer;
}
.whiteButton:hover {
  background-color: gray;
}
.blackButton {
  background-color: black;
  border: black 3px solid;
  padding: 10px 15px;
  cursor: pointer;
}
.blackButton:hover {
  background-color: gray;
}
.brownButton {
  background-color: brown;
  border: black 3px solid;
  padding: 10px 15px;
  cursor: pointer;
}
.brownButton:hover {
  background-color: black;
}


img {vertical-align: middle;}

.poseSwap {
  position: relative;
  margin: auto;
  width: 20%;
}

.left, .right {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 50px;
}
.right {
  right: 0;
}
.right:hover, .left:hover {
  background-color: rgba(0,0,0,0.5);
}

	