@import url('https://fonts.googleapis.com/css2?family=Muli:wght@900&display=swap');

.wrapper > div{
	background: white;
	padding: 1em; 
}	
.wrapper > div:nth-child(3){
	background: #2b2b3a;
}
.wrapper > div:nth-child(2){
	background: #eafc40;
}

.wrapper > div:nth-child(1){
	font-family: 'Muli', sans-serif;
	font-size: 30;
	text-align: left;
	background: #1ed2f4;
	padding: 2em;
}	
.wrapper{
	display: grid;
	grid-template-columns: 70% 30%;
 }

.nested{
	display: grid;
	grid-auto-rows: 110px;
	grid-gap: .5em;
	grid-column: 2/3;
}
.nested > div{
	font-family: 'Muli', sans-serif;
	font-size: 17;
	text-align: center;
    border: 5px solid #254558;
 	border-radius: 5px;
}
.nested > div:nth-child(odd){
	background: #f4f5f6;
}
.nested > div:nth-child(even){
	background: #f4f5f6
}

.jesus{
	background:#f4f5f6;
}
body{
	background:#f4f5f6;
}
.purpleButton {
  transform: scale();
    border: none;
  width:9%;
  height: 35%;
  background-color: purple;
  cursor: pointer;
}
.purpleButton:hover {
      border: white 2px solid;
}
.blueButton {
  transform: scale();
  border: none;
  width:9%;
  height: 35%;
  background-color: blue;
  cursor: pointer;
}
.blueButton:hover {
     border: white 2px solid;
}
.greenButton {
  transform: scale();
    border: none;
  width:9%;
  height: 35%;
  background-color: green;
  cursor: pointer;
}
.greenButton:hover {
     border: white 2px solid;
}
.yellowButton {
  transform: scale();
    border: none;
  width:9%;
  height: 35%;
  background-color: yellow;
  cursor: pointer;
}
.yellowButton:hover {
     border: white 2px solid;
}
.orangeButton {
  transform: scale();
    border: none;
  width:9%;
  height: 35%;
  background-color: orange;
  cursor: pointer;
}
.orangeButton:hover {
     border: white 2px solid;
}
.redButton {
  transform: scale();
    border: none;
  width:9%;
  height: 35%;
  background-color: red;
  cursor: pointer;
}
.redButton:hover {
    border: white 2px solid;
}
.whiteButton {
font-family: 'Muli', sans-serif;
  transform: scale();
    border: none;
  width:9%;
  height: 35%;
  background-color: white;
  cursor: pointer;
}
.whiteButton:hover {
     border: white 2px solid;
}
.blackButton {
  transform: scale();
    border: none;
  width:9%;
  height: 35%;
  background-color: black;
  cursor: pointer;
}
.blackButton:hover {
    border: white 2px solid;
}
.brownButton {
  transform: scale();
    border: none;
  width:9%;
  height: 35%;
  background-color: brown;
  cursor: pointer;
}
.brownButton:hover {
    border: white 2px solid;
}


img {vertical-align: middle;}

.poseSwap {
  position: relative;
  margin: auto;
  width: 20%;
}

.left, .right {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 50px;
}
.right {
  right: 0;
}
.right:hover, .left:hover {
  background-color: rgba(0,0,0,0.5);
}

svg{
	position: absolute;
	width:15%;
	top: 25%;
	right: 60%
  	}
  	
.printbutton{
font-family: 'Muli', sans-serif;
  transform: scale();
    border: none;
  width:15%;
  height: 35%;
  background-color: white;
  cursor: pointer;
}
.printbutton:hover {
     border: white 2px solid;
}
	